<!doctype html>
<title>Upload new File</title>
<body style="background-color:powderblue;"></body>
<class ="oorike">
    <h1>Instructions</h1>
    <br>
    <p1>1) Click on Choose File</p1>
    <br>
    <p1>2) Select the required file</p1>
    <br>
    <p1>3) Make sure name of the .wav file shouldn't contain any spaces</p1>
    <br>
    <p1>4) Click on Upload</p1>
    <br>
</class>
<div class="threes">
    <h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
    </form>   
</div>



<style>
.threes {
  
  padding: 100px 500px;
}
</style>